<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="SentryAppender" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="logs/app.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="3" />
    <maximumFileSize value="2MB" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
	<appender name="SentryAppender" type="Sentry.Log4Net.SentryAppender, Sentry.Log4Net">
		<Dsn value="https://916be1a8faff4ca093b788d1ab0e8b03@o317132.ingest.sentry.io/5708762" />
		<SendIdentity value="true" />
		<threshold value="ERROR" />
	</appender>
</log4net>